blockquote, body, button, dd, dl, dt, fieldset, form, h1, h2, h3, h4, h5, h6, hr, input, legend, li, ol, p, pre, td, textarea, th, ul {
    margin: 0;
    padding: 0;
}

body {
    background: white;
    color: #fff;
    overflow: hidden;
}

a {
    color: #03A9F4;
}

#player {
    position: absolute;
    width: 1920px;
    height: 1080px;
    background-color: #000;
}

.infobars {
    position: absolute;
    top :5px;
    background: rgba(150, 153, 159, .2);
    width: 150px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    font-size: 10px;
    z-index: 99;
    color: red;
}

.bars {
    position: absolute;
    top: 670px;
    width: 1920px;
    height: 346px;
}

.process-bar-area {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 1920px;
    height: 80px;
    background: rgba(150, 153, 159, .1);
    vertical-align: middle; /* center checkbox vertically */
    text-align: center; /* center checkbox horizontally */
    line-height: 80px;
}

/*
*   process line 
*/
/*.process-bar-area .process-thumb {
    position: absolute;
    top: 30px;
    left: 245px;
    width: 30px;
    height: 30px;
    border-radius: 30px;
    font-size: 30px;
    background-color: white;
    z-index: 9;
}
.process-bar-area .process-thumb.focused{
    top: 20px;
    left: 235px;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    font-size: 50px;
    background-color: white;
}*/
.process-bar-area .process {
    position: relative;
    top: 40px;
    width: 1400px;
    height: 10px;
    margin: 0 auto;
    overflow: hidden;
    background-color: rgba(128, 128, 128, .35);

}
.process-bar-area .process .load {
    position: absolute;
    height: 10px;
    background-color: #969696;
    width: 1400px;
    -webkit-transform: translate3d(-1400px, 0, 0);
}
.process-bar-area .process .play {
    position: absolute;
    height: 10px;
    background-color: #EB2E2E;
    width: 1400px;
    -webkit-transform: translate3d(-1400px, 0, 0);
}

/*
*   show current time  
*/
.process-bar-area .time{
    position: relative;
    width: 200px;
    height: 80px;
    font-size: 1.3em;
    font-weight: bold;
    color: #FFFFFF;
    line-height: 80px;
}

.process-bar-area .time.current{
    text-align: right;
    float: left;
}

.process-bar-area .time.duration{
    text-align: left;
    float: right;
}

.controls-bar {
    position: relative;
    top: 80px;
    width: 1400px;
    height: 128px;
    margin: 0 auto;
    background: rgba(150, 153, 159, .2);
}

.controls-bar .buttons-area {
    position: relative;
    margin: 0 auto;
    /*width: 700px;*/
    width: 420px;
    height: 80px;
}

.controls-bar .set-buttons-area {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 280px;
    height: 80px;
}

.controls-bar .button {
    position: relative;
    width: 80px;
    height: 80px;
    float: left;
    margin:0px 30px;
    border-radius: 8px;
    text-align: center;
    line-height: 80px;
    font-size:30px;
}

.controls-bar .button.focused {
    background-size: auto 30px;
    background-color: rgba(150, 153, 159, .7);
}

.player-loader {
    position: absolute;
    left: 900px;
    margin: 490px auto;
    width: 80px;
    height: 80px;
    /*border-radius: 100%;
    border: 10px solid rgba(255,255,255,.2);
    border-left-color: #FFF;
    -webkit-animation: load 1.5s infinite linear;*/
}

video::-webkit-media-text-track-display {
  font-size: 200%;
}

/*
@-webkit-keyframes load {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}*/
